:root {
    scroll-padding-top: 1rem;

    body {
        font-family: unset;

        div {
            border-bottom: 1px solid #2F2F2F;
        }
    }
}

:any-link {
    text-decoration: none;

    code {
        background-color: unset;
        color: var(--green2);
    }
}

@media screen and (width >=1600px) {
    div#column1.interior {
        margin-left: auto;
        margin-right: auto;
        width: 80em;
    }
}

pre,
tt,
code,
.pre,
span.type,
a.type {
    font-family: "Iosevka", monospace;
    font-variant-ligatures: none;
}

#toc {
    a:link {
        color: #6F9F3F;
    }

    li>ul {
        margin-top: 0;
    }

    ul {
        li {
            list-style-type: circle;
            margin-bottom: 0;

            code {
                font-weight: 700;
            }

            &>span[class^='stability_'] {
                opacity: 0.5;
            }
        }
    }
}

header.header,
div.api_stability {
    position: static;
}